{% extends "base.html" %}

{% block content %}
<div class="container-fluid py-3" style="max-width: 1100px;">
  <div class="d-flex gap-3" style="height: calc(100vh - 40px);">
    {% include "partials/rooms_sidebar.html" %}
    {% if room %}
      {% include "partials/chat_panel.html" %}
    {% else %}
      {% include "partials/no_group_placeholder.html" %}
    {% endif %}
  </div>
</div>
{% include "partials/add_room_modal.html" %}
{% if room and user == room.owner %}
  {% include "partials/room_settings_modal.html" %}
{% endif %}
{% endblock %}
